{% extends 'base.html' %}
{% block content%}

    <div class="container container-fluid m-3 p-2">
        <div class="selected-car col-lg-12 search_result pb-5 pe-lg-5 mx-5">
            <div class="row">
            <div class="col-md-6 p-5" id="details">
                <div class="col-lg-12 ps-30 pe-0 ">
                    <h5 class="text-muted">Brand: {{selected_car.brand}}</h5>
                </div>
                <div class="col-lg-12 ps-30 ">
                    <h5 class="text-muted">Model: {{selected_car.model}}</h5>
                </div>
                <div class="col-lg-12 ps-30">
                    <h5 class="text-muted">Color:</u> {{selected_car.color}}</h5>
                </div>
                <div class="col-lg-12 ps-30">
                    <h5 class="text-muted">Production Year: {{selected_car.production_year}}</h5>
                </div>
                <div class="col-lg-12 ps-30">
                    <h5 class="text-muted">Provider: {{selected_car.provider.name}}</h5>
                </div>
                <form class="p-3" action="/car_book/{{selected_car.id}}/" method="post">
                    {% csrf_token %}
                        <h5 class="text-muted"><i style="color: #304272;">Renting period: 10</i></h5>
                        <h5 class="text-muted"><i style="color: #304272;">Daily price: {{selected_car.price}}</i></h5>
                        <h5 class="text-muted"><i style="color: #304272;">Website commission: 5%</i></h5>
                        <h5 class="text-muted fw-bold"><i style="color: #304272;">Total: 1,500 NIS</i></h5>
                    <input type="hidden" name="selected_car" value="{{selected_car.id}}">
                    <button class="btn btn-secondary" type="submit">Book Car</button>
                </form>
            </div>
            <div class="col-md-6 p-5" id="photo">
                <img src="{{selected_car.car_photo}}" alt="selected_car" class="img-fluid rounded-3">
            </div>
            </div>
           
        </div>
    </div>
{%endblock%}
